{% load static %}
{% load store_tags %}

<nav class="header_nav">
    <div class="container">
        <div class="naw_menu">
            <a href="{% url 'index' %}" class="logo_text">TOTEMBO</a>
            <ul class="header_nav-menu">
                {% get_categories as categories %}
                {% for category in categories %}
                <li class="header_nav-item">
                    <a class="header_nav-link" href="{{ category.get_absolute_url }}">
                        {{ category.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="header_panel">
                <div class="header_panel-item">
                    <a href="{% url 'search_page' %}">
                        <img class="header_icon" src="{% static 'store/images/icons/search_icon.svg' %}" alt="">
                    </a>
                </div>
                {% if request.user.is_authenticated %}
                <div class="header_panel-item">
                    <a href="{% url 'favorite_products' %}">
                        <img class="header_icon" src="{% static 'store/images/icons/basket_icon.svg' %}" alt="">
                    </a>
                </div>
                {% endif %}
                <div class="header_panel-item">
                    <img class="header_icon" src="{% static 'store/images/icons/ru_lang_icon.svg' %}" alt="">
                </div>
                {% if request.user.is_authenticated %}
                <div class="header_panel-item">
                    <a href="">
                        <img class="header_icon" src="{% static 'store/images/icons/user_icon.svg' %}" alt="">
                    </a>
                </div>
                <div class="header_panel-item">
                    <a href="{% url 'cart' %}">
                        <img class="header_icon" src="{% static 'store/images/icons/cart_2.svg' %}" alt="" width="20">
                    </a>
                </div>


                {% endif %}
                <div class="header_panel-item">
                    <a href="{% if request.user.is_authenticated %}
                    {% url 'logout_user' %}
                    {% else %}
                    {% url 'login_user' %}
                    {% endif %}">
                        <img class="circum" src="{% static 'store/images/icons/circum_login.svg' %}" alt=""
                             style="{% if request.user.is_authenticated %}
                               transform: rotate(180deg);
                               {% endif %}">
                    </a>
                </div>
            </div>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <div class="header_panel-item">
                <a href="{% url 'send_mail' %}" class="btn btn-primary btn-sm">Рассылка</a>
            </div>
            {% endif %}





            <!-- BURGER MENU START -->
            <div class="header_lx-panel">
                <input type="checkbox" class="toggler">
                <div class="hamburger">
                    <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li>
                                    <a class="header_nav-link" href="">
                                        <img src="{% static 'store/images/icons/basket_icon.svg' %}" alt="">
                                    </a>
                                    <a class="header_nav-link" href="">
                                        <img src="{% static 'store/images/icons/ru_lang_icon.svg' %}" alt="">
                                    </a>
                                </li>
                                <li class="header_nav-item"><a class="header_nav-link" href="">Часы</a></li>
                                <li class="header_nav-item"><a class="header_nav-link" href="">Кольца</a></li>
                                <li class="header_nav-item"><a class="header_nav-link" href="">Серьги</a></li>
                                <li class="header_nav-item"><a class="header_nav-link" href="">Браслеты</a></li>
                                <li class="header_nav-item"><a class="header_nav-link" href="">Клатчи</a></li>
                                <li class="header_nav-item"><a class="header_nav-link" href="">Цепочки</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BURGER MENU END -->
        </div>
    </div>


</nav>